<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0" metadata-complete="true">
	<display-name>Archetype Created Web Application</display-name>
	<request-character-encoding>UTF-8</request-character-encoding>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>user.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>user.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>user.Registration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Recovery</servlet-name>
		<servlet-class>user.Recovery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>home.Home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Show</servlet-name>
		<servlet-class>article.Show</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Create</servlet-name>
		<servlet-class>article.Create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>article.Edit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>About</servlet-name>
		<servlet-class>home.About</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Recovery</servlet-name>
		<url-pattern>/recovery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Show</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Create</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
		</jsp-property-group>
	</jsp-config>
</web-app>