@charset "UTF-8";
@import 'header.css';

form {
  	padding: 10px;
  	display: flex;
  	flex-direction: column;
}

.flex-container{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  	
}

#nom, #prenom, #email, #password {
	margin-bottom: 10px;
	text-align: center;
}

input {
  	font-size: 14px;
  	width: 400px;
  	height: 40px;
  	border: 1px solid grey;
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}

#loginForm, #registrationForm {
  	color: #333;
  	font-size: 30px;
  	text-align: center;
}

#loginButton, #registrationButton {
  	display: block;
  	width: 200px;
  	font-size: 18px;
  	line-height: 1.3333333;
  	padding: 10px 16px;
  	color: white;
  	background-color: black;
  	border-radius: 16px;
  	border: 1px solid black;
  	margin-top: 20px;
  	align-self: center;
}

.error {
  	margin-top: 20px;
  	color: #212121;
  	background-color: #dfadba;
  	text-align: center;
  	padding: 10px;
}

#option-register, #option-login{
	color: #e2406a;
	text-decoration: none;
}

#options{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 17px;
}