form {
  padding: 10px;
  margin-top: 50px;
  width: 800px;
  border: 1px solid #ddd;
}

.edit {
  margin-top:50px;
  display: inline-block;
}

h1 {
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
}

form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

form input, 
form textarea {
  width: 600px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 2px;
  resize:vertical;
}

#saveButton {
  display: inline-block;
  padding: 5px 8px;
  margin: 10px 50px 10px 0;
  width: 120px;
  height: 30px;
  background-color: green;
  border: 1px solid green;
  border-radius: 16px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

div[role="alert"]{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

textarea[name="content"] { height: 375px; }

textarea[name=description] { height: 75px; }

.wrapper { text-align: center; }

h2 { text-align: center; }

input[type="submit"] { margin: 0 auto; }

#error { color: red; }

#success { color: green; }