img {
  display: block;
  width: 400px;
  height: 250px;
}

section a {
  display: inline-block;
  vertical-align: top;
  margin: 50px 0 0 50px;
  width: 400px;
  text-decoration: none;
  color: black;  
}

section {
  display: block;
  margin-top: 50px;
  border-spacing: 20px 0;
}

h2 {
  display: block;
  margin: 0; 
}