@charset "UTF-8";
@import "header.css";

form {
  border: 1px solid #ddd;
  padding: 10px;
  width: 800px;
  margin-top: 50px;
}

.wrapper{
	text-align: center;
}

.edit{
	margin-top:50px;
	display: inline-block;
}

h1{
	color: red;
	font-weight: bold;
	font-size: 20px;
	margin-top: 50px;
}

h2{
	text-align: center;
}

form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

form input, form textarea{
  width: 600px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 2px;
  resize:vertical;
}

form textarea[name=content]{
	height: 375px;
}

form textarea[name=description]{
	height: 75px;
}

#saveButton{
	width: 120px;
	height: 30px;
	padding: 5px 8px;
	color: white;
	font-size: 16px;
	border-radius: 16px;
	display: inline-block;
	background-color: green;
	border: 1px solid green;
	margin: 10px 50px 10px 0px;
	cursor: pointer;

}

form input[type=submit]{
	margin: 0 auto;
}

div[role=alert]{

	text-align: center;
	font-size: 20px;
	font-weight: bold;
	display: block;
}

#error{
	color: red;
}

#success{
	color: green;
}