@charset "UTF-8";
@import 'header.css';

form {
  border: 1px solid #ddd;
  padding: 10px;
}

.grandParentContainer {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.parentContainer {
  display: table-cell;
  vertical-align: middle;
}

#nomContainer, #prenomContainer, #emailContainer, #passwordContainer {
  margin-bottom: 10px;
}

input {
  font-size: 14px;
  width: 300px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
}

#loginForm, #registrationForm {
  color: #333;
  font-size: 30px;
  text-align: center;
}

#loginButton, #registrationButton {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 1.3333333;
  padding: 10px 16px;
  color: white;
  background-color: black;
  border-radius: 16px;
  border: 1px solid black;
  margin-top: 20px;
}

#error {
  margin-top: 10px;
  color: red;
  text-align: center;
}