@charset "UTF-8";
@import 'header.css';

img {
  width: 400px;
  height: 250px;
  display: block;
}

section a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 50px 0px 0px 50px;
  width: 400px;
}

section {
  display: block;
  border-spacing: 20px 0;
  margin-top: 50px;
}

h2 {
  margin: 0;
  display: block;
}